.scrolling-wrapper {
    display: flex;
    overflow-x: auto;
    padding: 10px;
}
.product-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      gap: 20px;
    }
.product-card {
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 15px;
      margin-bottom: 20px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.product-img {
    width: 200px;
    /* o usa % si prefieres que sea relativo */
    height: auto;
    /* mantiene la proporción */
    border-radius: 20px;
    /* bordes redondeados */
    object-fit: cover;
    /* recorta la imagen si es necesario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* sombra suave */
    transition: transform 0.3s ease;
}
.product-img:hover {
    transform: scale(1.30);
    /* efecto de zoom al pasar el mouse */
}